body {
background-color:#2f5972;
color: black    ;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
line-height: 1.6;
max-width: 1300px;
margin: 0 auto;

}

section
{
    
    background-color: #b6c9d4;
    text-align: center;    
    border-radius: 5px;
    padding: 10px 20px ;
    margin-top: 20px;
}

header {
    background-color: #2f5972;
   border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
    
    
}

.logo {
    width: 20%;
max-width: 250px;}
    
.menu    {
    display: flex;
    flex-wrap: wrap; 
    
    
}

.menu a {
    padding: 5px 16px;
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    background-color: #073f4c;
    border-radius: 50px;
    margin-left: 10px;
    
    
}


a:hover {color: black;}


/*  populära kurser på startsidan */

#popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;    
}

.figure-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



#popular figure {  

max-width: 300px;
text-align: center;

}


/* Får bilderna att vara samma storlek som figuren*/
figure img {
    width: 100%;
border-radius: 5px;}




/* Course-Overview */



section ul {
    list-style-position: inside;

}





/*c-reg*/

form {

    background-color: #b6c9d4;       
    border-radius: 5px;
    padding-bottom: 20px;
   
}



